@using ASACS5.Models.Clients;
@model ASACS5.Models.Site.OutputClientViewModel

@{
    ViewBag.Title = "Client List";
}

<h1>Client Something: Site @Model.SiteID</h1>


@using (Html.BeginForm("SearchClientByName", "Client", FormMethod.Post, new { id = "frmClientResult" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SiteID)

<h3>Client results</h3>
<table class="table">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Description ID</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Client client in Model.Clients)
        {
            <tr>
                <td>@client.ClientID</td>
                <td>@client.DescriptionID</td>
                <td>@client.FirstName</td>
                <td>@client.MiddleName</td>
                <td>@client.LastName</td>
                <td>@client.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back", "Index", "Home")
</div>