@model ASACS5.Models.Site.SelectClientViewModel
@using ASACS5.Models.Logs;
@{
    ViewBag.Title = "Update Client";
}

@if (Model.ClientID.Equals(0))
{
    <h1>Update Client</h1>
}
else
{
    <h1>Client : Client ID @Model.ClientID</h1>
}

@using (Html.BeginForm("UpdateClient", "Client",  FormMethod.Post, new { id = "frmSelectClient", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.SiteID)
    @Html.HiddenFor(model => model.ClientID)
    @Html.HiddenFor(model => model.oldDescriptiveID)
    @Html.HiddenFor(model => model.oldFirstName)
    @Html.HiddenFor(model => model.oldMiddleName)
    @Html.HiddenFor(model => model.oldLastName)
    @Html.HiddenFor(model => model.oldPhoneNumber)

    <div class="form-group">
        @Html.LabelFor(model => model.DescriptiveID, new { @class = "col-md-3", @for = "txtDescriptiveID" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.DescriptiveID, new { @class = "form-control", @id = "txtDescriptiveID"})
            @Html.ValidationMessageFor(model => model.DescriptiveID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, new { @class = "col-md-3", @for = "txtFirstName" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "txtFirstName" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MiddleName, new { @class = "col-md-3", @for = "txtMiddleName" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @id = "txtMiddleName"})
            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, new { @class = "col-md-3", @for = "txtLastName" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @id = "txtLastName"})
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-md-3", @for = "txtPhoneNumber" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @id = "txtPhoneNumber"})
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LogEntry, new { @class = "col-md-3", @for = "txtLogEntry" })
        <div class="col-md-9">
            @Html.TextBoxFor(model => model.LogEntry, new { @class = "form-control", @id = "txtPhoneNumber" })
            @Html.ValidationMessageFor(model => model.LogEntry, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    if (Model.Logs != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Log ID</th>
                    <th>Client ID</th>
                    <th>Date/Time Stamp</th>
                    <th>Site Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Log log in Model.Logs)
                {
                    <tr>
                        <td>@log.LogID</td>
                        <td>@log.ClientID</td>
                        <td>@log.DateTimeStamp</td>
                        <td>@log.SiteName</td>
                        <td>@log.Description</td>
                    </tr>
                }

            </tbody>
        </table>
        
    }


    <div>
        <input type="submit" value="Save changes" class="btn btn-default" />
        @if (!String.IsNullOrWhiteSpace(Model.StatusMessage))
        {
            if (Model.StatusMessage == "Succesfully added!")
            {
                <span class="text-success"><b> @Model.StatusMessage</b></span>
            }
            else
            {
                <span class="text-danger"><b> @Model.StatusMessage</b></span>
            }
        }
    </div>
    <div>
        @Html.ActionLink("Back", "SearchClient", "Client")
    </div>

}