@using ASACS5.Models.Requests

@model ASACS5.Models.Requests.UpdateRequestViewModel

@{
    ViewBag.Title = "Update Request";
}

<h1>Update Request</h1>

@using (Html.BeginForm("Update", "Requests", FormMethod.Post, new { id = "frmUpdateRequest", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.OwnerSiteID)
    @Html.HiddenFor(model => model.RequestorSiteName)
    @Html.HiddenFor(model => model.RequestorUsername)
    @Html.HiddenFor(model => model.ItemName)
    @Html.HiddenFor(model => model.QuantityAvailable)
    @Html.HiddenFor(model => model.QuantityRequested)

    <fieldset disabled="@(Model.Success)">

        <div class="form-group">
            @Html.LabelFor(model => model.RequestorSiteName, new { @class = "col-md-3", @for = "txtUserSiteName" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.RequestorSiteName, new { @class = "form-control", @id = "txtUserSiteName" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RequestorUsername, new { @class = "col-md-3", @for = "txtUsername" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.RequestorUsername, new { @class = "form-control", @id = "txtUsername" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, new { @class = "col-md-3", @for = "txtItemName" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.ItemName, new { @class = "form-control", @id = "txtItemName" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QuantityRequested, new { @class = "col-md-3", @for = "txtQuantityRequested" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.QuantityRequested, new { @class = "form-control", @id = "txtQuantityRequested" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QuantityAvailable, new { @class = "col-md-3", @for = "txtQuantityAvailalbe" })
            <div class="col-md-9">
                @Html.DisplayFor(model => model.QuantityAvailable, new { @class = "form-control", @id = "txtQuantityAvailalbe" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QuantityToFulfill, new { @class = "col-md-3", @for = "txtQuantityToFulfill" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.QuantityToFulfill, new { @class = "form-control", @id = "txtQuantityToFulfill", @type = "number" })
                @Html.ValidationMessageFor(model => model.QuantityToFulfill, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <input type="submit" value="Close Request" class="btn btn-default" />
            @if (!String.IsNullOrWhiteSpace(Model.StatusMessage))
            {
                <span class="text-success"><b> @Model.StatusMessage</b></span>
            }
            @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
            {
                <span class="text-warning"><b> @Model.ErrorMessage</b></span>
            }
        </div>

    </fieldset>

    <div>
        @Html.ActionLink("Back", "Index", "Requests")
    </div>

}
